@charset "UTF-8";

/*
@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url("./Montserrat-Regular.woff2") format("woff2");
}
@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Bold';
	src: url("./Montserrat-ExtraBold.woff2") format("woff2");
}
*/

:root {
	--gap: 2px;
	--content-gap: 20px;
	--nav-width: 1920px;
	--main-width: 800px;
	--header-height: 184px;
	--footer-height: 60px;
	--radius: 8px;
	--primary: #5DC3B2;
    --secundary: #132C33;

}


*, *::before, *::after { box-sizing: border-box; }

html { font-family: 'Montserrat', Trebuchet, sans-serif; font-size: 16px; line-height: 1.5em; }

body { display: block; min-height: 100vh; margin: 0; text-rendering: optimizeSpeed;background: url(./assets/topography.png); }

img, picture { max-width: 100%; display: block; }

input, button, textarea, select { font: inherit; }


strong { font-weight: 900; }

main {
	position: relative;
	min-height: calc(100vh - var(--header-height) - var(--footer-height));
	max-width: calc(var(--main-width) + var(--gap) * 2);
	margin: auto;
	padding: var(--gap)
}

a{color: #fff;
text-decoration: none;}
a:hover { color: #000; }

h1,h2,h3,h4,li{
	color: #fff;
}

.ScreenReaders { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0);white-space: nowrap; border-width: 0; }


.header{
	display:flex;
  	align-items:center;
	background: #132C33;
	//background: conic-gradient(from 270deg at 100% 100%, #132C33 0deg, rgba(19, 44, 51, 0) 360deg);
	@media (max-width:768px){
		justify-content:space-between;
	}
}
	.Logo{
		display: block;
		margin: 0;
		padding: 9px 16px;
	}
		.LogoPicture{}
	.ToggleMenu{
		background: none;
		padding: 0;
		border: none;
		box-shadow: none;
	}
	#nav-icon3 {
		
		margin-right: 15px;
		width: 50px;
		height: 38px;
		position: relative;
		transform: rotate(0deg);
		transition: .5s ease-in-out;
		cursor: pointer;
		@media (min-width: 1024px){
			display: none;
		}

	  }
	  
	#nav-icon3 span {
		display: block;
		position: absolute;
		height: 7px;
		width: 100%;
		background: var(--primary);
		border-radius: 9px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
	  }
	
	#nav-icon3 span:nth-child(1) {
		top: 0px;
	  }
	  
	  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
		top: 15px;
	  }
	  
	  #nav-icon3 span:nth-child(4) {
		top: 30px;
	  }
	  
	  #nav-icon3.open span:nth-child(1) {
		top: 15px;
		width: 0%;
		left: 50%;
	  }
	  
	  #nav-icon3.open span:nth-child(2) {
		transform: rotate(45deg);
	  }
	  
	  #nav-icon3.open span:nth-child(3) {
		transform: rotate(-45deg);
	  }
	  
	  #nav-icon3.open span:nth-child(4) {
		top: 18px;
		width: 0%;
		left: 50%;
	  }
	  
	.MainMenu{
		display:flex;
		justify-content:space-between;
		
		@media (max-width: 768px){
			display: none;
		}
	}
	.MainMenuList{
		position: relative;
		list-style:none;
	}
	.MainMenuItem{
		display: inline-block;
		padding: 3.5em;
	}
	.MainMenuLink{
		font-weight: 800;
		padding: 1em;
		font-size: 32px;
		color: #D8E3E7;
	}
	.adresa{
		position: absolute;
		width: 50%;
		height: 45px;
		background: url(./assets/topography.png);
		border-radius: 0px 0px 95px 95px;
	}
	.adresa h2{
		text-align: center;
		z-index: 99;
		font-weight: normal;
		font-size: 0.95em;
		color: #000;
	}
	.contact-div{
		display: none;
	}
		.tel{

		}
			.service-icon{

			}
		.telnumber{
			color: #000;
		}
			.program{

			}
		.fb{
			display:flex;
			justify-content:space-between;
			align-items:center;
		}
		.fb-icon{
			display:inline-block;
		}
		.txt-fb{
			color: #000;
			display:inline-block;
			padding: 0.4em;
		}
.body{
}	
	.bg-quote{
		background-color: rgba(93, 195, 178, .5);
		border-radius: 5%;
		border: 1px solid #D8E3E7;
		box-sizing: border-box;
		margin-top: 1.5em;
	}
	.quote{
		color: #000;
		opacity: 1;
		padding: 10px;
		font-size: 18px;
		z-index: 99;
	}
	.h-box-ct{
		margin-left: 22px;
		width: 97px;
		height: 31px;
		background: #AED8DA;
		border-radius: 11px;
	}
	.h-box-ct h2{
		font-style: normal;
		font-weight: 800;
		font-size: 1em;
		text-align: center;
		color: #000;
	}	
	.contact-div-mobile span{
		color: #000;
		font-weight: 700;
	}	
	.mobile-service-icon{
		display: initial;
	}
	.contact-table{
		padding: 10px 0 0 20px;
	}
	.h-box-location{
		margin-left: auto; 
		margin-right: 64px;
		width: 97px;
		height: 31px;
		background: #AED8DA;
		border-radius: 11px;
	}
	.h-box-location h2{
		font-style: normal;
		font-weight: 800;
		font-size: 1em;
		text-align: center;
		color: #000;
	}
	.location-table h2{
		font-style: normal;
		font-weight: 800;
		font-size: 0.8em;
		text-align: right;
		color: #000;
		margin-left:auto;
	}
	.loc-icon{
		float:right;
	}
	.location-icon{
		filter: invert(73%) sepia(68%) saturate(256%) hue-rotate(120deg) brightness(81%) contrast(99%);
	}
	.programeaza-te{
		display: flex;
		justify-content: center;
		margin-left: 33px;
		margin-right: 33px;
		width: auto;
		height: 74px;		
		background: #E7515B;
		border-radius: 90px;
	}
	.programeaza-te h3{
		display: flex;
		position: absolute;
		text-align: center;
		color: #D8E3E7;
		margin-top: 45px;
		font-size: 16px;
	}
	.programare-icon{
		//display: none;
		//margin-left: 22px;
		//margin-top: 5px;
		//float: left;
		width:43px;
		filter: invert(90%) sepia(18%) saturate(95%) hue-rotate(150deg) brightness(100%) contrast(87%);
	}
	.title{
		margin-top: 20px;
		writing-mode: vertical-rl;
		text-orientation: upright;
		color:#225566;
	}
	.HeroAsistenta{
		float: right;
	}
